services:
  backend:
    build:
      context: ./server
      dockerfile: Dockerfile.dev
    container_name: backend-nest-dev
    ports:
      - "3000:3000"
    environment:
      - NODE_ENV=development
      - PORT=3000
    volumes:
      - ./server:/app
      - backend_node_modules:/app/node_modules
    depends_on:
      - mysql_db 

  frontend:
    build:
      context: ./client
      dockerfile: Dockerfile.dev
    container_name: frontend-react-dev
    ports:
      - "5173:5173"
    environment:
      - NODE_ENV=development
      - PORT=5173
    volumes:
      - ./client:/app
      - frontend_node_modules:/app/node_modules

  mysql_db:
    image: mysql:8.0
    container_name: mysql-db
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_DATABASE: dashboard
      MYSQL_USER: user
      MYSQL_PASSWORD: password
    ports:
      - "3307:3306"
    volumes:
      - mysql_db_data:/var/lib/mysql

volumes:
  mysql_db_data:
  backend_node_modules:
  frontend_node_modules:
